.App {
  text-align: center;
}

.EmailForm {
  text-align: center;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  color: red;
  margin: 20px auto;
}

#form-input-control-email {}

Form {
  border: 1px solid #ABB2BF;
  padding: 20px;
}